{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{%static '/main/css/reset.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static '/main/css/projectX_style.css' %}">
        <title>ProjectX</title>
    </head>
    <body>
        <nav>
            <div class="logo">
                <a class="logo-a" href="">
                    <img class="logo_logotype" src="{% static '/main/img/X.png' %}" alt="">
                    <p>Project<span>X</span></p>
                </a>
            </div>
            <div class="content">
                <div class="content_navbar">
                    <a href="">Уроки</a>
                    <a href="">О сайте</a>
                    <a href="">Поддержка</a>
                </div>
                <button class="content_button"><p>Регистрация/Вход</p></button>
            </div>
        </nav>
        <main>
            <div class="hero">
                <div class="content">
                    <div class="projx">
                        <div class="content_title">
                            <span>P</span>
                            <span>r</span>
                            <span>o</span>
                            <span>j</span>
                            <span>e</span>
                            <span>c</span>
                            <span>t</span>
                            <span>X</span> 
                        </div>
                        <span class="s">Space</span>
                    </div>
                    
                    <div class="content_text">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                    </div>
                </div>
                <div class="stat">
                    <div class="text">
                        <p class="text_progress">Твой прогресс</p>
                        <p class="text_os">Общая статистика</p>
                    </div>
                    <div class="stat-vis">
                        <div class="vis_circle">
                            <img src="{% static '/main/img/circle.png' %}" alt="">
                        </div>
                        <div class="vis_content">
                            <div class="vis_content_text-1">
                                <p>Пройдено тем</p>
                                <p>{{succesed}}/50</p>
                            </div>
                            <div class="vis_content_text-2">
                                <p>Твой уровень</p>
                                <p>B2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level">
                <div class="title">
                    <p>Уровни <span>обучения</span></p>
                </div>
                <div class="cards">
                    <div class="card card-1">
                        <div class="mini-button">NEW</div>
                        <div class="main-content">
                            <div class="title">
                                <p>
                                    Interesting
                                    <span>topic</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                            </div>
                            <div class="progress-bar">
                                <div class="content">
                                    <p class="progress">Прогресс</p>
                                    <p class="per">15%</p>
                                </div>
                                <div class="bar"></div>
                            </div>
                            <button>
                                <p>Перейти</p>
                                <div class="imge">
                                    <img src="{% static '/main/img/Arrow-right.png' %}" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="card card-2">
                        <div class="mini-button">ACTIVE</div>
                        <div class="main-content">
                            <div class="title">
                                <p>
                                    Interesting
                                    <span>topic</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                            </div>
                            <div class="progress-bar">
                                <div class="content">
                                    <p class="progress">Прогресс</p>
                                    <p class="per">15%</p>
                                </div>
                                <div class="bar"></div>
                            </div>
                            <button onclick="window.location.href='../page-1/page-1.html'">
                                <p>Перейти</p>
                                <div class="imge">
                                    <img src="{% static '/main/img/Arrow-right.png' %}" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="card card-3">
                        <div class="mini-button">NEW</div>
                        <div class="main-content">
                            <div class="title">
                                <p>
                                    Interesting
                                    <span>topic</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                            </div>
                            <div class="progress-bar">
                                <div class="content">
                                    <p class="progress">Прогресс</p>
                                    <p class="per">15%</p>
                                </div>
                                <div class="bar"></div>
                            </div>
                            <button>
                                <p>Перейти</p>
                                <div class="imge">
                                    <img src="{% static '/main/img/Arrow-right.png' %}" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="card card-4">
                        <div class="mini-button">NEW</div>
                        <div class="main-content">
                            <div class="title">
                                <p>
                                    Interesting
                                    <span>topic</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                            </div>
                            <div class="progress-bar">
                                <div class="content">
                                    <p class="progress">Прогресс</p>
                                    <p class="per">15%</p>
                                </div>
                                <div class="bar"></div>
                            </div>
                            <button>
                                <p>Перейти</p>
                                <div class="imge">
                                    <img src="{% static '/main/img/Arrow-right.png' %}" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="card card-5">
                        <div class="mini-button">NEW</div>
                        <div class="main-content">
                            <div class="title">
                                <p>
                                    Interesting
                                    <span>topic</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                            </div>
                            <div class="progress-bar">
                                <div class="content">
                                    <p class="progress">Прогресс</p>
                                    <p class="per">15%</p>
                                </div>
                                <div class="bar"></div>
                            </div>
                            <button>
                                <p>Перейти</p>
                                <div class="imge">
                                    <img src="{% static '/main/img/Arrow-right.png' %}" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="card card-6">
                        <div class="mini-button">NEW</div>
                        <div class="main-content">
                            <div class="title">
                                <p>
                                    Interesting
                                    <span>topic</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                            </div>
                            <div class="progress-bar">
                                <div class="content">
                                    <p class="progress">Прогресс</p>
                                    <p class="per">15%</p>
                                </div>
                                <div class="bar"></div>
                            </div>
                            <button>
                                <p>Перейти</p>
                                <div class="imge">
                                    <img src="{% static '/main/img/Arrow-right.png' %}" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="card card-7">
                        <div class="mini-button">NEW</div>
                        <div class="main-content">
                            <div class="title">
                                <p>
                                    Interesting
                                    <span>topic</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                            </div>
                            <div class="progress-bar">
                                <div class="content">
                                    <p class="progress">Прогресс</p>
                                    <p class="per">15%</p>
                                </div>
                                <div class="bar"></div>
                            </div>
                            <button>
                                <p>Перейти</p>
                                <div class="imge">
                                    <img src="{% static '/main/img/Arrow-right.png' %}" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="card card-8">
                        <div class="mini-button">NEW</div>
                        <div class="main-content">
                            <div class="title">
                                <p>
                                    Interesting
                                    <span>topic</span>
                                </p>
                            </div>
                            <div class="text">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                            </div>
                            <div class="progress-bar">
                                <div class="content">
                                    <p class="progress">Прогресс</p>
                                    <p class="per">15%</p>
                                </div>
                                <div class="bar"></div>
                            </div>
                            <button>
                                <p>Перейти</p>
                                <div class="imge">
                                    <img src="{% static '/main/img/Arrow-right.png' %}" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-main">
                <div class="general">
                    <div class="general_logo">
                        <img src="{% static '/main/img/X.png' %}" alt="">
                        <p class="general_title">Project
                            <span>X</span>
                        </p>
                    </div>
                    <p class="general_text">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                </div>
                <div class="dev">
                    <p class="dev_title">Depelopers</p>
                    <ul>
                        <li>Lorem, ipsum.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem, ipsum dolor.</li>
                    </ul>
                </div>
            </div>
            <div class="mini-text">Contrary to popular belief.</div>
        </footer>
    </body>
</html>
